<table class="table">
    <thead>
      <tr>
        <th scope="col">Task Name</th>
        <th scope="col">Project</th>
        <th scope="col">Task Description</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="task in $ctrl.tasks">
        <td><b>{{task.name}}</b></td>
        <td>{{task.project.name}}</td>
        <td>{{task.description}}</td>
        <td><button class="btn btn-primary btn-sm" ng-click="$ctrl.addTaskTime(task.id)">Add task time</button></td>
      </tr>
    </tbody>
</table>