<div class="wrapper">
    <form class="form-signin" ng-submit="$ctrl.login()">       
      <h2 class="form-signin-heading">Please login</h2>
      <label for="email">Email: </label>
      <input type="text" class="form-control" id="email" name="email" placeholder="Email Address" ng-model="$ctrl.loginForm.email" required autofocus />
      <label for="password">Password: </label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="$ctrl.loginForm.password" required/>   
      <button id="loginBtn" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
      <button id="registerBtn" class="btn btn-lg btn-primary btn-block" ui-sref="register">Register</button>
    </form>
</div>
